@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "adelle", serif;
  font-style: italic;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 21.6px;
  line-height: 2.16rem;
  color: #404040;
}
@media only screen and (min-width: 479px) {
  body {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
}

h1, h3 {
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  font-size: 1.2rem;
}

h2 {
  font-size: 33.6px;
  font-size: 3.36rem;
  line-height: 39.6px;
  line-height: 3.96rem;
  margin-top: 8px;
  margin-top: 0.8rem;
}
@media only screen and (min-width: 479px) {
  h2 {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 44px;
    line-height: 4.4rem;
  }
}

p {
  margin-top: 14px;
  margin-top: 1.4rem;
}
p.callout {
  font-size: 33.6px;
  font-size: 3.36rem;
  line-height: 39.6px;
  line-height: 3.96rem;
  color: #d6408a;
  clear: left;
  width: 100% !important;
  max-width: none !important;
}
@media only screen and (min-width: 479px) {
  p.callout {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 44px;
    line-height: 4.4rem;
  }
}
p.secondary {
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 21.6px;
  line-height: 2.16rem;
}
@media only screen and (min-width: 479px) {
  p.secondary {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
}

@media only screen and (min-width: 767px) {
  .left {
    float: left;
  }
}

@media only screen and (min-width: 767px) {
  .right {
    float: right;
  }
}

a:link {
  color: #d6408a;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid #d6408a;
}
a:visited {
  color: #d6408a;
}
a:hover {
  color: #d6408a;
  border-bottom: 1px solid transparent;
}

hr {
  border: none;
  border-top: 1px solid #dedede;
  margin: 40px 0px 30px;
  margin: 4rem 0rem 3rem;
}

blockquote {
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 21.6px;
  line-height: 2.16rem;
  margin-top: 33px;
  margin-top: 3.3rem;
  max-width: 460px;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  overflow: visible;
}
@media only screen and (min-width: 479px) {
  blockquote {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
}
blockquote p {
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 479px) {
  blockquote p {
    width: 65%;
    margin-left: 0 !important;
    float: left;
  }
}
@media only screen and (min-width: 767px) {
  blockquote p {
    width: 75%;
  }
}
blockquote p.cite {
  width: 100%;
  margin: 0;
  clear: right;
  float: right;
  text-align: right;
}
blockquote p:first-of-type:before {
  content: "“";
  color: #dedede;
  font-size: 200px;
  font-size: 20rem;
  position: absolute;
  top: 60px;
  top: 6rem;
  left: -28px;
  left: -2.8rem;
  z-index: -1;
}
@media only screen and (min-width: 479px) {
  blockquote p:first-of-type:before {
    left: -28px;
    left: -2.8rem;
  }
}
@media only screen and (min-width: 767px) {
  blockquote p:first-of-type:before {
    left: -40px;
    left: -4rem;
  }
}
@media only screen and (min-width: 1023px) {
  blockquote p:first-of-type:before {
    left: -54px;
    left: -5.4rem;
  }
}
blockquote hr {
  clear: both;
  border: none;
}
blockquote cite {
  float: right;
  display: block;
  font-size: 17.6px;
  font-size: 1.76rem;
  line-height: 25.2px;
  line-height: 2.52rem;
}
@media only screen and (min-width: 479px) {
  blockquote cite {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}
blockquote cite span {
  display: block;
  font-style: italic;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 21.6px;
  line-height: 2.16rem;
}
@media only screen and (min-width: 479px) {
  blockquote cite span {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
}
blockquote figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-top: 18px;
  margin-top: 1.8rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 479px) {
  blockquote figure {
    float: right;
    clear: none;
    width: 33%;
  }
}
@media only screen and (min-width: 767px) {
  blockquote figure {
    width: 22%;
  }
}
blockquote figure img {
  width: 100%;
  height: auto;
  display: block;
}
@media only screen and (min-width: 767px) {
  blockquote {
    max-width: none;
  }
}

.container {
  margin: 0px auto;
  margin: 0rem auto;
  max-width: 1024px;
  max-width: 102.4rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #272727;
  background-color: rgba(39, 39, 39, 0.95);
  min-height: 48px;
  min-height: 4.8rem;
}
@media only screen and (min-width: 767px) {
  header {
    background-color: rgba(39, 39, 39, 0.2);
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
  }
  header:hover, header.top {
    background-color: rgba(39, 39, 39, 0.87);
  }
  header:hover nav, header.top nav {
    margin-top: 12px;
    margin-top: 1.2rem;
    opacity: 1;
  }
}
header h1 {
  float: left;
  color: transparent;
  text-indent: -100000px;
  width: 164px;
  width: 16.4rem;
  height: 48px;
  height: 4.8rem;
  background-image: url("../images/markup-logo.png");
}

nav {
  clear: left;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 48px;
  border: none;
  -webkit-transition: height 0.45s ease;
  -moz-transition: height 0.45s ease;
  -o-transition: height 0.45s ease;
  transition: height 0.45s ease;
}
nav:target {
  height: 800px;
  height: 80rem;
}
nav:target a.deactivate-menu {
  z-index: 12;
}
@media only screen and (min-width: 767px) {
  nav {
    clear: none;
    float: right;
    height: auto;
    opacity: 0;
    padding: 0;
    overflow: visible;
    margin: 0px 0px 0px;
    margin: 0rem 0rem 0rem;
    -webkit-transition: margin-top 0.3s ease, opacity 0.3s ease;
    -moz-transition: margin-top 0.3s ease, opacity 0.3s ease;
    -o-transition: margin-top 0.3s ease, opacity 0.3s ease;
    transition: margin-top 0.3s ease, opacity 0.3s ease;
  }
  nav:target {
    height: auto;
  }
}
nav ol {
  background-color: #272727;
  background-color: rgba(39, 39, 39, 0.95);
}
@media only screen and (min-width: 767px) {
  nav ol {
    background-color: transparent;
    float: right;
  }
}
nav li {
  padding: 24px 28px;
  padding: 2.4rem 2.8rem;
  position: relative;
  border-top: 1px solid #404040;
}
@media only screen and (min-width: 767px) {
  nav li {
    display: inline;
    padding: 0;
    border-top: none;
  }
}
nav li a {
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 14;
  padding: 12px 18px;
  padding: 1.2rem 1.8rem;
}
nav li a:link {
  color: #dedede;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid transparent;
}
nav li a:visited {
  color: #dedede;
}
nav li a:hover {
  color: #dedede;
  border-bottom: 1px solid #dedede;
}
nav li a:hover {
  border-bottom: 1px solid transparent;
  color: #9bffff;
}
@media only screen and (min-width: 767px) {
  nav li a {
    position: relative;
  }
}

a.activate-menu {
  color: transparent;
  text-indent: -100000px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
@media only screen and (min-width: 767px) {
  a.activate-menu {
    display: none;
  }
}

a.deactivate-menu {
  color: transparent;
  text-indent: -100000px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
@media only screen and (min-width: 767px) {
  a.deactivate-menu {
    display: none;
  }
}

section {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  padding: 90px 18px;
  padding: 9rem 1.8rem;
}
section.intro {
  background-color: #404040;
  color: #9bffff;
  font-size: 17.6px;
  font-size: 1.76rem;
  line-height: 25.2px;
  line-height: 2.52rem;
  padding-top: 130px;
  padding-top: 13rem;
}
@media only screen and (min-width: 479px) {
  section.intro {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}
section.intro p {
  max-width: 420px;
  max-width: 42rem;
}
section.intro a:link {
  color: white;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid white;
}
section.intro a:visited {
  color: white;
}
section.intro a:hover {
  color: white;
  border-bottom: 1px solid transparent;
}
section.philosophy {
  font-size: 17.6px;
  font-size: 1.76rem;
  line-height: 25.2px;
  line-height: 2.52rem;
}
@media only screen and (min-width: 479px) {
  section.philosophy {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}
section.philosophy p, section.philosophy h1 {
  max-width: 460px;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 767px) {
  section.philosophy p, section.philosophy h1 {
    max-width: none;
  }
  section.philosophy .left {
    width: 48%;
    float: left;
    clear: left;
  }
  section.philosophy .right {
    width: 33%;
    float: right;
    clear: none;
    margin: 18px 0px -4px 0px;
    margin: 1.8rem 0rem -0.4rem 0rem;
    margin-right: 15%;
  }
}
section.work {
  padding: 0;
}
section.work h1 {
  display: none;
}
section.work article {
  padding: 90px 18px;
  padding: 9rem 1.8rem;
  overflow: hidden;
  *zoom: 1;
}
section.work article p, section.work article hgroup {
  max-width: 460px;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
}
section.work article .highlight {
  font-size: 17.6px;
  font-size: 1.76rem;
  line-height: 25.2px;
  line-height: 2.52rem;
}
@media only screen and (min-width: 479px) {
  section.work article .highlight {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}
@media only screen and (min-width: 767px) {
  section.work article.right-layout p, section.work article.right-layout hgroup {
    width: 310px;
    width: 31rem;
    float: right;
    clear: right;
  }
}
@media only screen and (min-width: 767px) {
  section.work article.left-layout p, section.work article.left-layout hgroup {
    width: 310px;
    width: 31rem;
    float: left;
    clear: left;
  }
}
section.collaborators, section.ideas, section.contact {
  font-size: 17.6px;
  font-size: 1.76rem;
  line-height: 25.2px;
  line-height: 2.52rem;
}
@media only screen and (min-width: 479px) {
  section.collaborators, section.ideas, section.contact {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}
section.collaborators p, section.collaborators h1, section.collaborators article, section.ideas p, section.ideas h1, section.ideas article, section.contact p, section.contact h1, section.contact article {
  max-width: 460px;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 767px) {
  section.collaborators p, section.collaborators h1, section.collaborators article, section.ideas p, section.ideas h1, section.ideas article, section.contact p, section.contact h1, section.contact article {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  section.collaborators p, section.ideas p, section.contact p {
    max-width: 550px;
    max-width: 55rem;
  }
  section.collaborators .left, section.ideas .left, section.contact .left {
    clear: left;
    width: 32%;
  }
  section.collaborators .right, section.ideas .right, section.contact .right {
    clear: none;
    width: 64%;
  }
}
section.ideas {
  background-color: #404040;
}
section.ideas h1, section.ideas p {
  color: #9bffff;
}
section.ideas h2 {
  color: #dedede;
  font-style: normal;
}
section.ideas article p {
  color: #dedede;
}
section.contact .left p {
  font-size: 17.6px;
  font-size: 1.76rem;
  line-height: 25.2px;
  line-height: 2.52rem;
}
@media only screen and (min-width: 479px) {
  section.contact .left p {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
}

#wfgc {
  background-color: #fdcfa1;
}
#wfgc h2, #wfgc h3, #wfgc .highlight {
  color: #f0573d;
}
#wfgc a:link {
  color: #f0573d;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid #f0573d;
}
#wfgc a:visited {
  color: #f0573d;
}
#wfgc a:hover {
  color: #f0573d;
  border-bottom: 1px solid transparent;
}

#phive {
  background-color: black;
  color: #dedede;
}
#phive h2, #phive h3, #phive .highlight {
  color: #fda329;
}
#phive a:link {
  color: #fda329;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid #fda329;
}
#phive a:visited {
  color: #fda329;
}
#phive a:hover {
  color: #fda329;
  border-bottom: 1px solid transparent;
}

#sow {
  background-color: #a9dde3;
}
#sow h2, #sow h3, #sow .highlight {
  color: #bb0e29;
}
#sow a:link {
  color: #bb0e29;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid #bb0e29;
}
#sow a:visited {
  color: #bb0e29;
}
#sow a:hover {
  color: #bb0e29;
  border-bottom: 1px solid transparent;
}

#gridwell {
  background-color: #34251c;
  color: #dedede;
}
#gridwell h2, #gridwell h3, #gridwell .highlight {
  color: #9bcc25;
}
#gridwell a:link {
  color: #9bcc25;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid #9bcc25;
}
#gridwell a:visited {
  color: #9bcc25;
}
#gridwell a:hover {
  color: #9bcc25;
  border-bottom: 1px solid transparent;
}

#soloff {
  background-color: #f8f8f8;
}
#soloff h2, #soloff h3, #soloff .highlight {
  color: #9a0f1c;
}
#soloff a:link {
  color: #9a0f1c;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid #9a0f1c;
}
#soloff a:visited {
  color: #9a0f1c;
}
#soloff a:hover {
  color: #9a0f1c;
  border-bottom: 1px solid transparent;
}

#asoplace {
  background-color: white;
}
#asoplace h2, #asoplace h3, #asoplace .highlight {
  color: #e82634;
}
#asoplace a:link {
  color: #e82634;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s ease;
  -moz-transition: border-bottom 0.2s ease;
  -o-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
  border-bottom: 1px solid #e82634;
}
#asoplace a:visited {
  color: #e82634;
}
#asoplace a:hover {
  color: #e82634;
  border-bottom: 1px solid transparent;
}
