@import "compass/reset"
@import "compass/css3/border-radius"
@import "compass/css3/transition"

$dark_gray: rgb(64,64,64)

@mixin rems($property,$value)
  $px: null !default
  $rem: null !default
  @if type-of($value) == "number"
    $px: #{$value}px
    $rem: #{($value/10)}rem
  @else
    @each $val in $value
      @if $px == null
        @if type-of($val) == "number"
          $px: #{$val}px
          $rem: #{($val/10)}rem
        @else
          $px: #{$val}
          $rem: #{$val}
      @else
        @if type-of($val) == "number"
          $px: $px + " #{$val}px"
          $rem: $rem + " #{($val/10)}rem"
        @else
          $px: $px + " #{$val}"
          $rem: $rem + " #{$val}"
  #{$property}: #{$px}
  #{$property}: #{$rem}

html
  font-family: "adelle", serif
  font-size: 16px
  color: $dark_gray

section
  @include rems(margin,50 auto 20)
  @include rems(padding,50)
  &.intro